body{
margin:0;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:#f5f5f5;
font-family:sans-serif;
}

#score{
position:fixed;
top:20px;
right:30px;
font-size:30px;
font-weight:bold;
text-align:center;
}

.character{
position:relative;
width:300px;
height:300px;
}

#body{
width:100%;
position:absolute;
left:0;
top:0;
}

#hand{
width:100%;
position:absolute;
left:0;
top:0;

transform: translate(0px,0px);
transition: transform 0.3s ease;
}
